body {
    background-color: #faebd7;
}

h1 {
text-align: center;
font-family: sans-serif;
font-weight: 900;
font-size: xx-large;
}

.texto1 {
    background-color: white;
    padding: 15px 20px;
    border: 10px;
    border-style: dashed;
    border-color: #fdf3e6;
    border-radius: 10px;
}

p {
text-align: center;
font-weight: 200;
font-family: sans-serif;
font-size: medium;
text-align: justify;
}

img {
   align-items: center;
}