body {
    background-color: #faebd7;
}

h1 {
text-align: center;
font-family: sans-serif;
font-weight: 900;
font-size: xx-large;
background-color: #fff7ec;
padding: 15px;
border-style: solid;
border-color: #fff7ec;
margin-bottom: -10px;
}

.texto1 {
    background-color: white;
    padding: 15px 20px;
    border: 10px;
    border-style: dashed;
    border-color: #ffe9ce;
    border-radius: 10px;
    border-top-style: solid;
    border-top-color: #ffe9ce;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

p {
margin-top: 0%;
text-align: center;
font-weight: 200;
font-family: sans-serif;
font-size: medium;
text-align: justify;
}

img {
   align-items: center;
}