body {
    background-color: #faebd7;
    margin: 0;
}

.banner {
    margin-top: 0;
    height: 1720px;
    width: 100%;
    background-image: url('Imagenes/Fondo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 0;
}

video {
    display: flex;
    padding-left: 25%;
    justify-content: center;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
text-align: center;
font-family: sans-serif;
font-weight: 900;
font-size: xx-large;
background-color: #fff7ec;
padding: 15px;
border-style: solid;
border-color: #fff7ec;
margin-bottom: 10px;
}

.texto1 {
    background-color: white;
    padding: 15px 20px;
    border: 10px;
    border-style: dashed;
    border-color: #ffe9ce;
    border-radius: 10px;
    border-top-style: solid;
    border-top-color: #ffe9ce;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

p {
margin-top: 0%;
text-align: center;
font-weight: 200;
font-family: sans-serif;
font-size: large;
text-align: justify;
}

.Imagenes {
display: flex;
justify-content: center;
margin-top: -40px;
margin-bottom: -60px;
}

.Melody {
    display: flex;
    place-content: left;
    margin-bottom: -55px;
    width: 100%;
    height: 100px;
}

.CaritoYyo {
    display: flex;
    size-adjust: contain;
    place-content: center;
    background-attachment: fixed;
}

.Carito {
   display: flex;
    size-adjust: contain;
    place-content: center;
    background-attachment: fixed;
}

.Final {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: small;
    margin-top: 20px;
}